# Database Connection URL (PostgreSQL / Neon)
DATABASE_URL="postgresql://username:password@ep-example-pooler.c-2.us-east-2.aws.neon.tech/neondb?sslmode=require"

# JWT Secret
JWT_SECRET="replace-with-a-random-32-character-secret-key"

# Base Application URL
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Free Ethereal Email Delivery (Zero-config: auto-generates test account and web inbox preview URLs)
ETHEREAL_USER=""
ETHEREAL_PASS=""